.login-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-right: 150px;
    font-size: 20px;
    cursor: pointer;
}

.login-form{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

#login{
    margin-left: 20px;
}

.Logo{
    justify-content: center;
    display: flex;
}

.search-bar {
    text-align: center;
    margin-left: 80px;
  }
  
.search-bar input[type="text"] {
    height: 50px;
    width: 430px;
    padding: 13px;
    padding-left: 33px;
    border-radius: 50px; 
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
.search-bar button {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 1.2rem;
    margin: 1rem;
    border: 0;
  }

  .my-col {
    
  }